<template>
    <div class="hidden">
      <vs-navbar shadow square center-collapsed v-model="active">
        <template #left>
          <vs-button @click="activeSidebar = !activeSidebar" flat icon>
            <box-icon size='sm' name='menu-alt-left'></box-icon>
          </vs-button>
        </template>
        <template #right>
        <vs-button v-if="$route.path != '/'" class="bg-negative" circle @click="$router.go(-1)" >
            <box-icon name="arrow-back"/>
            Atras
          </vs-button>
          <vs-button danger disabled>GeorApp</vs-button>
        </template>
      </vs-navbar>
      <vs-sidebar
        absolute
        v-model="active"
        :open.sync="activeSidebar"
        >
        <template #logo>
          Logo
        </template>
        <div @click="left = false">
          <vs-sidebar-item to="/" id="menu">
          <template #icon>
            <box-icon size="xs" name="home" />
          </template>
            Home
          </vs-sidebar-item>
        </div>
        <div
          v-for="(item, index) in menu"
          v-bind:key="index"
        >
          <vs-sidebar-group>
            <template #header>
              <vs-sidebar-item arrow>
                <template #icon>
                  <box-icon type="solid" size="xs" :name="item.icon"/>
                </template>
                {{item.name}}
              </vs-sidebar-item>
            </template>

            <div
              v-for="(itemChildren, indexChildren) in menu[index].children"
              v-bind:key="indexChildren" @click="left = false"
            >
            <vs-sidebar-item :to="itemChildren.url" :id="itemChildren.url">
                <template #icon>
                  <box-icon size="xs" :name="itemChildren.icon"/>
                </template>
              {{ itemChildren.name }}
            </vs-sidebar-item>
            </div>
          </vs-sidebar-group>
        </div>
        <template #footer>
          <div class="text-caption jusify-center">V 0.1</div>
        </template>
      </vs-sidebar>
          <router-view />
      <!--<svg class="footer" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 20%;"><path d="M0.00,49.98 C86.91,270.68 180.02,10.15 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #08f;"></path></svg>-->
    </div>
</template>
<script>
  export default {
    data () {
      return {
        active: 'home',
        activeSidebar: false,
        menu: [
          {
          name: 'Clientes',
          url: '',
          icon: 'user-account',
          children: [
            {
              name: 'Listado',
              url: '/customer',
              icon: 'list-minus'
            },
            {
              name: 'Reportes',
              url: '/report',
              icon: 'paper-plane'
            }
          ]
        },
        {
          name: 'Consecionarios',
          url: '',
          icon: 'user-account',
          children: [
            {
              name: 'Ciudades',
              url: '/city',
              icon: 'list-minus'
            }
          ]
        }
      ]
    }
  }
}
</script>
<style>
.footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100% !important;
  z-index: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
