.justify-center,
.flex-center {
  justify-content: center;
}
.row,
.column,
.flex {
  display: flex;
  flex-wrap: wrap;
}
.items-center,
.flex-center {
  align-items: center;
}
.q-pa-sm {
  padding: 8px 8px;
}
.q-page {
  position: relative;
}
.full-width {
  width: 98% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.justify-end {
  justify-content: flex-end;
}
.input_size {
  padding-left: 10px;
  width: 20em;
  height: 3em;
}
.input_me {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 38px;
  width: 20em;
}