<template>
<div>
  <div class="q-pa-sm q-page full-width" style="min-height: 400px; margin-top: 4em;">
    <div class="q-pa-sm">
      <div style="float: right;">
          <strong>{{title}}</strong>
      </div>
      <div class="q-pa-sm row justify-center items-center">
      <!---Input de datos-->
          <vs-input style=" margin-top: 1em;" primary label-placeholder="Ciudad" v-model="form.city"/>
      <!---Input de datos-->
      </div>
    </div>
    <div class="center">
      <vs-button
        block
        class="bg-secondary"
        @click="save"
      >
        <box-icon name="save"/> Guardar Datos
      </vs-button>
    </div>
  </div>
</div>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
export default {
  created () {
    this.getInfo()
  },
  validations: {
    form: {
      city: {
        required
      }
    }
  },
  data () {
    return {
      form: {},
      info: {},
      ruta: 'city',
      title: 'Nuevo Cliente'
    }
  },
  methods: {
    async getInfo () {
      this.form = {}
      this.id = this.$route.params.id
      if (this.id) {
        const loading = this.$vs.loading({
          type: 'circles',
          text: 'Cargando ...'
        })
        this.$api.get(`${this.ruta}/` + this.id).then(res => {
          const copyForm = res
          if (copyForm.length === 1) {
            this.form = copyForm[0]
            this.title = 'Editar Cliente'
          }
          loading.close()
        })
      }
    },
    async save () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('error')
        this.$vs.notification({
          color: 'danger',
          title: 'Verifica tus datos',
          text: 'Ingresa todos los campos silicitados'
        })
      } else {
        const loading = this.$vs.loading({
          type: 'circles',
          text: 'Cargando ...'
        })
        if (this.id) {
          this.$api.put(`${this.ruta}/${this.id}`, this.form).then(res => {
            loading.close()
            this.notifications('success', res.title)
            this.$router.go(-1)
          })
        } else {
          this.$api.post(`${this.ruta}`, this.form).then(res => {
            loading.close()
            this.notifications('success', res.title)
            this.$router.go(-1)
          })
        }
      }
    },
    async notifications (color, title) {
      this.$vs.notification({
        color,
        position: 'top-left',
        title
      })
    }
  }
}
</script>
<style scoped>
@import url("../../css/designs.css");
</style>