<template>
  <div class="my-style">
    <vs-alert danger :page.sync="page" style="height: 170px; width: 500px;border-radius: 0em 3em 0em 3em;">
      <template #title>
        Prueba de GeorApp
      </template>

      <template #page-1>
        <strong>Pantalla Principal</strong><br/>En la parte superior izquierda tendrás un boton para abrir el menu lateral y podras observar las opciones dadas segun su necesidad
      </template>

      <template #page-2>
        <strong>Listado de Clientes</strong> <br/> Módulo crud de los Clientes
      </template>

      <template #page-3>
         <strong>Reportes</strong> <br/> Módulo de reportes
      </template>
    </vs-alert>
  </div>
</template>
<script>
export default {
  data () {
    return {
      page: 1
    }
  }
}
</script>
<style scoped>
.my-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
