<template>
<div>
  <div class="q-pa-sm q-page full-width" style="min-height: 400px; margin-top: 4em;">
    <div class="q-pa-sm">
      <div style="float: right;">
          <strong>{{title}}</strong>
      </div>

      <div class="q-pa-sm row items-center justify-center" style="margin-top: 2em;">
          <vs-radio succes v-model="form.status" val=1>
            Activos
          </vs-radio>
          <vs-radio danger v-model="form.status" val=0>
            Inactivos
          </vs-radio>
          <vs-radio danger v-model="form.status" val=2>
            Todos
          </vs-radio>
      </div>
    <div class="center">
      <vs-button
        block
        danger
        @click="report"
        style="margin-top: 2em;"
      >
        <box-icon/> Imprimir
      </vs-button>
    </div>
    </div>
  </div>
</div>
</template>
<script>
import apiUrl from '../../env'
export default {
  created () {
    // this.report()
  },
  data () {
    return {
      title: 'Parametros para el reporte',
      ruta: 'report',
      form: {}
    }
  },
  methods: {
    async report () {
      const loading = this.$vs.loading({
        type: 'circles',
        text: 'Cargando ...'
      })
      window.open(`${apiUrl.apiUrl}report/${this.form.status}`,'PDF')
      loading.close()
    }
  }
}
</script>
<style scoped>
@import url("../../css/designs.css");
</style>