<template>
<div>
  <div class="q-pa-sm q-page full-width" style="min-height: 400px; margin-top: 4em;">
    <div class="q-pa-sm">
      <div style="float: right;">
          <strong>{{title}}</strong>
      </div>
      <div class="q-pa-sm row items-center justify-center">
      <!---Input de datos-->
          <vs-input style="padding-left: 8px; margin-top: 1em;" primary label-placeholder="Nombres" v-model="form.name"/>
      <!---Input de datos-->
          <vs-input style="padding-left: 8px; margin-top: 1em;" primary label-placeholder="Apellidos" v-model="form.fullname"/>
      <!---Input de datos-->
          <vs-input style="padding-left: 8px; margin-top: 1em;" primary label-placeholder="DNI" v-model="form.dni"/>
      <!---Input de datos-->
          <vs-input style="padding-left: 8px; margin-top: 1em;" primary type="date" label-placeholder="F/N" v-model="form.fn"/>
      <!---Input de datos-->
          <vs-input style="padding-left: 8px; margin-top: 1em;" primary type="email" label-placeholder="Email" v-model="form.email"/>
      <!---Input de datos-->
          <vs-input style="padding-left: 8px; margin-top: 1em;" primary label-placeholder="Dirección" v-model="form.direction"/>
      <!---Input de datos
          <vs-select  style="padding-left: 8px; margin-top: 2em;" label-placeholder="Ciudad" v-model="value">
            <vs-option :key="index" :value="item.id" :label="item.city" v-for="(item, index) in city">
            {{ item.city }}
            </vs-option>
          </vs-select>-->
          <select style="padding-left: 8px; margin-top: 1em;"  class="input_me" v-model="form.city">
            <option v-for="elemento in city" :key="elemento" v-bind:value="elemento.id">{{elemento.city}}</option>
          </select>
      <!---Input de datos-->
      </div>
      <div class="row justify-center items-center">
        <vs-radio succes v-model="form.status" val=1>
          Activo
        </vs-radio>
        <vs-radio danger v-model="form.status" val=0>
          Inactivo
        </vs-radio>
      </div>
    </div>
    <div class="center">
      <vs-button
        block
        class="bg-secondary"
        @click="save"
      >
        <box-icon name="save"/> Guardar Datos
      </vs-button>
    </div>
  </div>
</div>
</template>
<script>
import { required, email} from 'vuelidate/lib/validators'
export default {
  created () {
    this.getInfo()
  },
  validations: {
    form: {
      name: {
        required
      },
      fullname: {
        required
      },
      dni: {
        required
      },
      fn: {
        required
      },
      direction: {
        required
      },
      status: {
        required
      },
      email: {
        required, email
      },
      city: {
        required
      }
    }
  },
  data () {
    return {
      form: {},
      info: {},
      ruta: 'customer',
      title: 'Nuevo Cliente',
      city: [],
      value: ''
    }
  },
  methods: {
    async getInfo () {
      const loading = this.$vs.loading({
        type: 'circles',
        text: 'Cargando ...'
      })
      this.form = {}
      this.id = this.$route.params.id
      if (this.id) {
        this.$api.get(`${this.ruta}/` + this.id).then(res => {
          const copyForm = res
          if (copyForm.length === 1) {
            this.form = copyForm[0]
            this.title = 'Editar Cliente'
          }
        })
      }
      this.$api.get('city').then(res => {
        this.city = res
        console.log(this.city)
        loading.close()
      })
    },
    async save () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('error')
        this.$vs.notification({
          color: 'danger',
          title: 'Verifica tus datos',
          text: 'Ingresa todos los campos silicitados y un correo electronico valido'
        })
      } else {
        const loading = this.$vs.loading({
          type: 'circles',
          text: 'Cargando ...'
        })
        if (this.id) {
          this.$api.put(`${this.ruta}/${this.id}`, this.form).then(res => {
            loading.close()
            this.notifications('success', res.title)
            this.$router.go(-1)
          })
        } else {
          this.$api.post(`${this.ruta}`, this.form).then(res => {
            loading.close()
            this.notifications('success', res.title)
            this.$router.go(-1)
          })
        }
      }
    },
    async notifications (color, title) {
      this.$vs.notification({
        color,
        position: 'top-left',
        title
      })
    }
  }
}
</script>
<style scoped>
@import url("../../css/designs.css");
</style>