<template>
  <div class="q-pa-sm q-page full-width" style="min-height: 400px; margin-top: 4em;">
    <div class="q-pa-sm">
      <div style="float: right;">
          <vs-button class="text-black" circle :to="`/${this.ruta}/agg_${this.ruta}`">
            Nuevo
          </vs-button>
      </div>
      <div class="center">
          <vs-table dark>
          <template #header>
            <vs-input v-model="search" border placeholder="Search" />
          </template>
            <template slot="thead">
              <vs-tr>
                <vs-th class="text-black">Nombres</vs-th>
                <vs-th class="text-black">Dirección</vs-th>
                <vs-th class="text-black">Status</vs-th>
                <vs-th class="row justify-center items-center">Acciones</vs-th>
              </vs-tr>
            </template>
            <template dense #tbody>
              <vs-tr
                :key="i"
                v-for="(tr, i) in $vs.getPage($vs.getSearch(date, search), page, max)"
                :data="tr"
              >
                <vs-td>{{ tr.name }}</vs-td>
                <vs-td>{{ tr.direction }}</vs-td>
                <vs-td>{{ tr.status ? 'Activo' : 'Inactivo' }}</vs-td>
                <vs-td class="justify-center items-center">
                  <div class="con-content">
                   <div class="row items-center">
                   <vs-button border success @click="redirect('edit', tr.id, tr)">
                      Editar
                   </vs-button>
                   <vs-button border danger @click="redirect('delete', tr.id)">
                      Eliminar
                   </vs-button>
                   </div>
                  </div>
                </vs-td>
              </vs-tr>
            </template>
            <template #footer>
              <vs-pagination dark v-model="page" :length="$vs.getLength(date, max)"></vs-pagination>
            </template>
          </vs-table>
        </div>
        <vs-dialog width="550px" v-model="edit">
          <template #header>
            <strong>Cambio de Estatus</strong>
          </template>
          <div class="con-content">
            <p><strong>Nombres</strong>: {{ this.infoTemp.name }}</p>
            <p><strong>Apellidos</strong>: {{ this.infoTemp.fullname }}</p>
            <div>
              <strong>Estatus</strong>:
              <div style="margin-top: -1em;" class="row justify-center items-center">
                <vs-radio succes v-model="infoTemp.status" val=1>
                  Activo
                </vs-radio>
                <vs-radio danger v-model="infoTemp.status" val=0>
                  Inactivo
                </vs-radio>
              </div>
            </div>
          </div>
          <template #footer>
            <div class="row items-center">
              <vs-button success @click="changeStatus">Cambiar</vs-button>
              <vs-button @click="more">Ver más</vs-button>
              <vs-button danger @click="edit = false">Cancelar</vs-button>
            </div>
          </template>
        </vs-dialog>
        <vs-dialog width="550px" v-model="dialog">
          <template #header>
            <strong>Atención</strong>
          </template>
          <div class="con-content">
            <p>¿Esta seguro de eliminar el registro de manera permanentemente?</p>
          </div>
          <template #footer>
            <div class="row items-center">
              <vs-button danger @click="deleteItem">Ok</vs-button>
              <vs-button @click="dialog = false">Cancelar</vs-button>
            </div>
          </template>
        </vs-dialog>
    </div>
  </div>
</template>
<script>
export default {
  mounted () {
    this.infoSolicity()
  },
  data () {
    return {
      ruta: 'customer',
      date: [],
      page: 1,
      max: 7,
      dialog: false,
      id: '',
      search: '',
      edit: false,
      infoTemp: {}
    }
  },
  methods: {
    async infoSolicity () {
      this.date = []
      const loading = this.$vs.loading({
        type: 'circles',
        text: 'Cargando ...'
      })
      await this.$api.get(`${this.ruta}`).then(res => {
        this.date = res
        loading.close()
      })
    },
    async redirect (url, id, every) {
      console.log(every)
      if (url === 'edit') {
        this.infoTemp = {}
        this.edit = true
        this.infoTemp = every
        // this.$router.push(`/${this.ruta}/edit_${this.ruta}/` + id)
      } else if (url === 'delete') {
        this.dialog = true
        this.id = id
      }
    },
    async deleteItem () {
      const loading = this.$vs.loading({
        type: 'circles',
        text: 'Cargando ...'
      })
      await this.$api.delete(`${this.ruta}/` + this.id).then(res => {
        console.log(res)
        loading.close()
        this.dialog = false
        this.$vs.notification({
          color: 'danger',
          position: 'top-left',
          title: 'Registro Eliminado con exito'
        })
      })
      this.infoSolicity()
    },
    async more () {
      this.$router.push(`/${this.ruta}/edit_${this.ruta}/` + this.infoTemp.id)
    },
    async changeStatus () {
      const loading = this.$vs.loading({
        type: 'circles',
        text: 'Cambiando ...'
      })
      this.$api.put(`${this.ruta}/${this.infoTemp.id}`, this.infoTemp).then(res => {
        loading.close()
        this.notifications('success', res.title)
        this.edit = false
        this.infoTemp = {}
        this.infoSolicity()
      })
    },
    async notifications (color, title) {
      this.$vs.notification({
        color,
        position: 'top-left',
        title
      })
    }
  }
}
</script>
<style scoped>
@import url("../../css/designs.css");
</style>